<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElasticSearch</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form id="search-bar">
        <input type="text" id="query" placeholder="Digite sua pesquisa" required>
        <button type="button" onclick="sendQuery()">Pesquisar</button>
    </form>
    <dl id="results"></dl>
    <nav>
        <ul id="pagination" class="pagination"></ul>
    </nav>
    <script src="/submit_query.js"></script>
</body>
</html>